[Desktop Entry]

# Тип объекта, который запускается: Application - приложение;
# Directory - категория; Link - ссылка на ресурс Интернета.
Type=Application

# "Категория" здесь - это заголовок подменю
# в общем меню приложений. Здесь не переводится.
# В значении может быть несколько частей,
# их отделять символом ;.
# И в конце строки рекомендуется поставить символ ;.
# Если символ ; используется сам по себе - экранировать: \;.
Categories=Other;

# Команда для запуска. Желательно указать полный путь.
# Можно короткое имя, если программа доступна через $PATH.
# Если нужно запустить с правами суперпользователя,
# то нужно начинать команду, например, с gksudo или gksu.
# Понадобится установить программу gksudo или kdesudo.
Exec=lxsession-logout -p "\n Завершение работы Lubuntu 16 \n"

# Нужно ли сначала открыть окно эмулятора терминала,
# а потом запустить в нём значение Exec.
# "Да" - true; "нет" - false. Да для приложений, работающих в терминале.
# нет для приложений с gui.
Terminal=false

# Файл значка. Обычно указывают короткое имя без расширения.
# Стандартные форматы файлов: PNG, SVG (SVGZ).
# Значки обычно хранят в /usr/share/icons.
Icon=system-shutdown

# Название ярлыка, видимое как подпись к значку или
# как имя пункта в меню. Здесь на английском.
Name=Shutdown

# Описание, обычно видимое как всплывающая подсказка.
Comment=Shutdown PC

# Желательно перевести. Список условных обозначений
# языков есть, например, у locale.
Name[ru]=Выключить

# Желательно перевести.
Comment[ru]=Выключить ПК

# Не показывать в меню. Обычно "нет".
# Файловые ассоциации, если есть, будут работать.
NoDisplay=false

# Не показывать в меню, убрать из файловых ассоциаций.
# И вообще сделать вид, что приложения не существует.
# Обычно "нет".
Hidden=false
